[submodule "odin-recipes"]
	path = odin-recipes
	url = git@github.com:Indistanced/odin-recipes.git
[submodule "git_test"]
	path = git_test
	url = git@github.com:Indistanced/git_test.git
[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:Indistanced/css-exercises.git
[submodule "landing-page"]
	path = landing-page
	url = git@github.com:Indistanced/landing-page.git
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = git@github.com:Indistanced/rock-paper-scissors.git
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = git@github.com:Indistanced/etch-a-sketch.git
[submodule "calculator"]
	path = calculator
	url = git@github.com:Indistanced/calculator.git
[submodule "git-test"]
	path = git-test
	url = git@github.com:Indistanced/git_test.git
